<script>
    import TinyPouchDB from '../../TinyPouchDB.svelte';
    let books=[];
    let add = null;
    let author = null;
    let price = null;
    let title = null;
    let url = null;
    import LayoutGrid, { Cell } from '@smui/layout-grid';
    </script>
    <TinyPouchDB bind:this={add} bind:documents={books} initsrc="/books.json" collection="books"></TinyPouchDB>
    <LayoutGrid>
          <Cell span={1}>
            <form method="POST" action="/{title}">
                <label for="title">Title:</label>
                <input type="text" name="title" bind:value={title}>
                <label for="author">Author:</label>
                <input type="text" name="author" bind:value={author}>
                <label for="url">Url:</label>
                <input type="text" name="url" bind:value={url}>
                <label for="price">Price:</label>
                <input type="text" name="price" bind:value={price}>
                <button type="submit" on:click={add.add_book(author,price, title, url)}>Submit</button>
            </form>
          </Cell>      
    </LayoutGrid>
    