<script>
    import TopAppBar, {
      Row,
      Section,
      Title,
      AutoAdjust,
    } from '@smui/top-app-bar';
    import IconButton from '@smui/icon-button';
    let topAppBar;
    import TinyPouchDB from '../TinyPouchDB.svelte';
    let books=[];
    let remove = null;
    import LayoutGrid, { Cell } from '@smui/layout-grid';
</script>
<div class="top-app-bar">
  <TopAppBar bind:this={topAppBar} variant="fixed">
    <Row>
      <Section>
        <IconButton class="material-icons">menu</IconButton>
        <Title>Fixed</Title>
      </Section>
      <Section align="end" toolbar>
        <IconButton class="material-icons" aria-label="Download"
          >file_download</IconButton
        >
        <IconButton class="material-icons" aria-label="Print this page" 
          >print</IconButton
        >
        <IconButton class="material-icons" aria-label="Bookmark this page"
          >bookmark</IconButton
        >
        <a href="/add"><IconButton class="material-icons" aria-label="Add a book"
          >add</IconButton
        ></a>
        <IconButton href="/" class="material-icons" aria-label="Destroy bd" on:click={remove.destroy_db()}
          >delete</IconButton
        >
      </Section>
    </Row>
  </TopAppBar>
</div>

<TinyPouchDB  bind:this={remove} bind:documents={books} initsrc="/books.json" collection="books"></TinyPouchDB>
<div class="layout-grid">
  <LayoutGrid>
    {#each books as book}
      <Cell span={1}>
        <div class="demo-cell"><a href="/{book._id}"><img src="data:{book.img.content_type};base64,{book.img.data}"
            alt="{book.title}"></a></div>
            <a href="/edit/{book._id}"><IconButton class="material-icons" aria-label="Edit this book">edit</IconButton></a>
            <IconButton class="material-icons" aria-label="Delete this book" on:click={remove.remove_book(book._id)}>delete</IconButton>
      </Cell>
    {/each}
  </LayoutGrid>
</div>

  <style>
    .demo-cell {
      /*height: 60px;*/
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--mdc-theme-secondary, #333);
      color: var(--mdc-theme-on-secondary, #fff);
    }
    .top-app-bar{height: 5%;margin-bottom: 5em;}
    .layout-grid{height: 50em;overflow-y: scroll;}
  </style>