<script>
/** @type {import('./$types').PageData} */
export let data;
let remove=null;
import IconButton from '@smui/icon-button';
import TinyPouchDB from '../../TinyPouchDB.svelte';
let books=[];
import LayoutGrid, { Cell } from '@smui/layout-grid';
</script>
<TinyPouchDB bind:this={remove} bind:documents={books} initsrc="/books.json" collection="books"></TinyPouchDB>
<div class="content">
  {#each books as book}
    {#if book._id == data.id}
    <a href="/">Accueil</a>
      <h1 class="title">{book.title}</h1>
      <div class='img'><img src="data:{book.img.content_type};base64,{book.img.data}"
          alt="{book.title}"></div>
      <p class="author">{book.author}</p>
      <a class="url" href="{book.url}">{book.url}</a>
      <p class="price">{book.price} €</p>
      <a href="/edit/{book._id}"><IconButton class="material-icons" aria-label="Edit this book">edit</IconButton></a>
      <IconButton href="/" class="material-icons" aria-label="Delete this book" on:click={remove.remove_book(book._id)}>delete</IconButton>
  {/if}
  {/each}
</div>
<style>
.content{
  display: flex;
  flex-wrap: wrap;
}
.title, .img, .author, .url, .price{width: 100%;}

</style>
  
