<script>
    /** @type {import('./$types').PageData} */
    export let data;
    import TinyPouchDB from '../../../TinyPouchDB.svelte';
    let books=[];
    let edit = null;
    import LayoutGrid, { Cell } from '@smui/layout-grid';
    </script>
    <TinyPouchDB bind:this={edit} bind:documents={books} initsrc="/books.json" collection="books"></TinyPouchDB>
    <LayoutGrid>
      {#each books as book}
        {#if book._id == data.title}
          <Cell span={1}>
            <form method="POST" action="/{book._id}">
                <label for="title">Title:</label>
                <input type="text" name="title" bind:value={book.title}>
                <label for="author">Author:</label>
                <input type="text" name="author" bind:value={book.author}>
                <label for="url">Url:</label>
                <input type="text" name="url" bind:value={book.url}>
                <label for="price">Price:</label>
                <input type="text" name="price" bind:value={book.price}>
                <button type="submit" on:click={edit.edit_book(book._id, book.author, book.price, book.title, book.url)}>Submit</button>
            </form>
          </Cell>      
        {/if}
      {/each}      
    </LayoutGrid>
    